asgiref==3.5.0
click==7.1.2
Django==4.0.4
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.21.2
Pillow==9.0.1
pygame==2.1.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyqtgraph==0.12.2
python-dotenv==0.19.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
schedule==1.1.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
tzdata==2022.1
ui==0.1.4
Werkzeug==2.0.3
WTForms==3.0.1
