.u-block-8b5a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8b5a-3 {
  position: absolute;
  left: 0;
}

.u-block-8b5a-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/4c613403a304cd5fe9c90ef958864efac437f876dbea566fa286434bcccbabf487187a9192d7615105fb1fa949d1fb51351dbc64bb1bfa0e11922d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  margin: 119px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: url("https://pixabay.com/get/g4b2dda90944c613403a304cd5fe9c90ef958864efac437f876dbea566fa286434bcccbabf487187a9192d7615105fb1fa949d1fb51351dbc64bb1bfa0e11922d_1280.jpg");
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  margin: 119px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 60px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}
