{% extends 'base.html' %} 
 
{% block title %}
Login
{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbar">
  <div class="navbar-nav">
    <div class="logo">
      <img src="static/img/logo.png" alt="logo" width="300" height="80">
    </div>
    <div class="home-btn">
      <a id="home" href="/">
        <input type="submit" value="Главная" />
      </a>
    </div>
    <div class="about-btn">
      <a id="about" href="/">
        <input type="submit" value="О нас" />
      </a>
    </div>
    <div class="contacts-btn">
      <a id="contacts" href="/">
        <input type="submit" value="Контакты" />
      </a>
    </div>
    <div class="signup-btn">
      <a id="signup" href="/signup">
        <input type="submit" value="Зарегистрироваться" />
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="login-form">
    <center>
       <h1>Вход</h1> 
    </center>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <center>
            <p>
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </p>
        </center>
        <center>
            <div class="signup-btn-2">
              <a id="signup" href="/signup">
                <input type="submit" value="Зарегистрироваться" />
              </a>
            </div>   
        </center>
    </form>
</div>
{% endblock %}
