{% extends 'base.html' %} 
 
{% block title %}
Home
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <div class="logo">
        <img src="static/img/logo.png" alt="logo" width="300" height="80">
      </div>
      <div class="forum-btn">
        <a id="forum" href="/home">
          <input type="submit" value="Форум" />
        </a>
      </div>
      <div class="send-req-btn">
        <a id="send" href="/send_task">
          <input type="submit" value="Отправить заявку" />
        </a>
      </div>
      <div class="show-req-btn">
        <a id="show" href="/show_task">
          <input type="submit" value="Мои заявки" />
        </a>
      </div>
      <div class="contacts-btn">
        <a id="contacts" href="/contacts-login">
          <input type="submit" value="Контакты" />
        </a>
      </div>
      <div class="enter-btn">
        <a id="enter" href="/">
          <input type="submit" value="Выйти" />
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="note-block">
    <center>
        <h1>Отправить проблему</h1>
    </center>
    <form method="POST">
        <div>
            <input type="text" class="form-control" id="coordinates" name="coordinates"
                   placeholder="Введите координаты"/>
        </div>
        <div class="note-area">
            <textarea name="description" id="description" class="form-control"
                      placeholder="Введите описание проблемы"></textarea>
        </div>
        <button type="submit" class="form-send-task-button">Отправить</button>
    </form>
    <br>
    <p style="color: red;">{{ message }}</p>
</div>
{% endblock %}